*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: racing hard;
    src:url(../accest/font/RACING\ HARD.ttf)
}

.logo {
    display: inline-block;
    background-color: aquamarine;
    margin: auto;
    position: relative;
}

.classh1 {
    color: white;
text-align: center;
padding: 30px;
font-size: xxx-large;
font-family: racing hard;
margin: auto;
transform: translateX(100px);
transition: transform 2s;


}

.classh2{
    color:white;
    padding: 10px;
    font-size: xxx-large;
    font-family: racing hard;
    text-align: center;
    margin: auto;

 }
 .classh3 {
    text-align: center;
    font-family: racing hard;
    color: white;
    font-size: xxx-large;
    margin: auto;
    display: flexbox;

}


.claseparrafo {
    color: white;
    font-size: x-large;
    text-align: center;
    margin: auto;
}


.claseparrafo2 {
    color: white;
    font-size: x-large;
    text-align: center;
    margin: auto;

}



.ClaseFormulario {
    color: white
}

.estilo-h1-servicios {
    color: rgb(255, 255, 255) ;
}

#ID-divh1-servicios {
    background-color: rgba(255, 255, 255, 0);
}

.class-div-nav {
    text-align: right;
}

.class-div-nav2{

     text-align: right;
    display: inline-block;
    padding: 5px;
    background-color:rgb(255, 255, 255);;
    margin-top: 10px;
    border: 3px solid;
    border-radius: 5px;
    font-family: racing hard;
}


/* Page INDEX */

.grid-conteiner {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content min-content min-content;
    grid-template-areas:
    "titulo video"
    "Parrafo video";
    margin: auto;
}

.grid-conteiner h2 {
    grid-area: titulo ;
}


.grid-conteiner p{
    grid-area: parrafo;
}

/* Page NUESTRO EQUIPO */

.grid-conteiner2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content min-content min-content;
    grid-template-areas: "imagen ..."
    "... texto"
}
.grid-conteiner2 section img{
    grid-area: imagen ...;


}
.grid-conteiner2 section p{
    grid-area: ... texto;
}

.classvideo{
    margin: 20px;

}

.div-header{
    justify-content: bottom;

}

.classvideo{
    text-align: center;
    margin: auto;


}

#gridheader {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);

}

#section-video{
    display: flexbox;
    position: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.class-icono-ig{
    margin: 10px;
    width: 30px;
    height: 30px;
    
}
.class-icono-wpp{
    margin: 10px;
    width: 30px;
    height: 30px;
}
.class-icono-fc{
    margin: 10px;
    width: 30px;
    height: 30px;
}




main section div img{
    /* width: 100vw;
    height: 100vh; */


}



header nav ul li{

    display: grid;
    text-align: right;
    display: inline-block;
    padding: 5px;
    background-color:rgb(255, 255, 255);;
    margin-top: 10px;
    border: 3px solid;
    border-radius: 5px;
    font-family: racing hard;
}


body {
    width: 100vw;
    height: 100vh;
    margin: auto;
    background-image: url(https://img.redbull.com/images/w_3000/q_auto,f_auto/redbullcom/2020/7/16/scektzz4qkw9kkkiu4pi/neumatico-mojado);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom ;
    justify-content: space-between;
}
  


header{
    grid-area: header;
}

main{
    grid-area: main;
}


footer {
    grid-area: footer;
    width: 100vw;
    height: 10vh;
    padding-top: 90px;
    margin: 0px;
    color: aliceblue;

}

/* footer span {

} */


/* RESPONSIVE */


/* @media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 768px){

}

@media only screen and (min-width: 468px) {

} */

/* Desktok first */

@media only screen and (max-width: 1400px) {


}

@media only screen and (max-width: 1200px) {


}

@media only screen and (max-width: 768px){



@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 320px) {

    .classvideo{
        display: none;
       }
}

}

@media only screen and (min-width: 320px) {



}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 780px) {

}
@media only screen and (min-width: 1200px) {

}
@media only screen and (min-width: 1400px) {

}



