*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: racing hard;
    src:url(../accest/font/RACING\ HARD.ttf)
}

.logo {
    display: inline-block;
    background-color: aquamarine;
    margin: auto;
    position: relative;
}

.classh1 {
color: rgb(46, 60, 121);
text-align: left;
font-size: xxx-large;
font-family: racing hard; 
margin: auto;
transform: translateX(100px);
transition: transform 2s;


}

.classh2{
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: xx-large;
    font-family: racing hard;
    text-align: center;
    margin: auto;

 }
 .classh3 {
    text-align: center;
    font-family: racing hard;
    color: rgb(46, 60, 121);
    font-size: xxx-large;
    margin: auto;


}


.claseparrafo {
    color: rgb(46, 60, 121);
    font-size: x-large;
    text-align: center;
    margin: auto;
}


.claseparrafo2 {
    color: rgb(46, 60, 121);
    font-size: x-large;
    text-align: center;
    margin: auto;

}



.ClaseFormulario {
    color: rgb(46, 60, 121);
}

.estilo-h1-servicios {
    color: rgb(46, 60, 121) ;
}

#ID-divh1-servicios {
    /* background-color: rgba(255, 255, 255, 0); */
}

.class-div-nav {
    text-align: right;
}

.class-div-nav2{

     text-align: right;
    display: inline-block;
    padding: 5px;
    background-color:rgb(255, 255, 255);;
    margin-top: 10px;
    border: 3px solid;
    border-radius: 5px;
    font-family: racing hard;
}

.carousel-inner{
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: max-content;



}

/* Page INDEX */

/* .grid-conteiner {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content min-content min-content;
    grid-template-areas:
    "titulo video"
    "Parrafo video";
    margin: auto;
}

.grid-conteiner h2 {
    grid-area: titulo ;
}


.grid-conteiner p{
    grid-area: parrafo;
} */

/* Page NUESTRO EQUIPO */

/* .grid-conteiner2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content min-content min-content;
    grid-template-areas: "imagen ..."
    "... texto"
} */
/* .grid-conteiner2 section img{
    grid-area: imagen ...;


}
.grid-conteiner2 section p{
    grid-area: ... texto;
} */

.classvideo{
    margin: 20px;

}

.div-header{
    justify-content: bottom;

}

.classvideo{
    text-align: center;
    margin: auto;


}

/* #gridheader {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);

}

#section-video{
    display: flexbox;
    position: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} */

.class-icono-ig{
    margin: 10px;
    width: 30px;
    height: 30px;

}
.class-icono-wpp{
    margin: 10px;
    width: 30px;
    height: 30px;
}
.class-icono-fc{
    margin: 10px;
    width: 30px;
    height: 30px;
}

#id-body{
    background-color: gray;
}

#id-nav{
    background-color: gray !important;
    color: white !important;
    text-decoration: white !important;


}


.class-video-eventos{
    display: grid;
    grid-template: auto;
}

main section div img{
    /* width: 100vw;
    height: 100vh; */


}



header nav ul li{

    display: grid;
    text-align: right;
    display: inline-block;
    padding: 5px;
    background-color:rgb(255, 255, 255);
    margin-top: 10px;
    border: 3px solid;
    border-radius: 5px;
    font-family: racing hard;
}


footer {
    grid-area: footer;
    width: 100vw;
    height: 10vh;
    padding-top: 90px;
    color: rgb(46, 60, 121);

}




@media (max-width: 768px){
    #intro{
        width: 90% !important;
        text-align: center !important;
    }
    #introh1{
        width: 90% !important;  
}
}
